* {
    box-sizing: border-box;
}
canvas { 
    border-style: solid; 
    display: block;
    width: 600px;
    margin: 0 auto;
}
button {
    display: block;
    margin: 40px auto;
    width: 220px;
    height: 80px;
    font-size: 1.5rem;
}
button:hover {
    cursor: pointer;
}
.result {
    text-align: center;
    font-size: 1.5rem;
}